.TeamPreviewMainDiv{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 4rem;
}
.GridContainer{
    display: flex;
    justify-content: center;
    align-items: center;
}